# This file contains all settings change to your needs
YA_PAYMENT_NETWORK=mainnet
NODE_SUBNET=public-beta

# node settings
NODE_NAME=null
YA_ACCOUNT=null
NODE_CPU_THREADS=null
NODE_MEM_GIB=null
NODE_STORAGE_GIB=null
NODE_COSTS_START=null
NODE_COSTS_HOUR=null
NODE_COSTS_CPU_HOUR=null

# run settings
NODE_NUM=1
NICENESS=15

# autoheal settings, values in seconds
AUTOHEAL_CONTAINER_LABEL=all
AUTOHEAL_START_PERIOD=300
AUTOHEAL_INTERVAL=5

# docker-compose name setting
COMPOSE_PROJECT_NAME=golem
